.pizza-container {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
}

.pizza-container > .titulo {
    flex: 0 1 auto;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
}

.pizza-container > .conteudo {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 768px) {
    .pizza-container > .conteudo {
        flex-flow: row nowrap;
    }
}

.pizza-container > .conteudo > svg {
    flex: 1 1 auto;
    display: block;
}

.pizza-container > .conteudo > svg > path {
    flex: 1 1 auto;
    display: block;
}

.pizza-container > .conteudo > .legendas {
    flex: 0 1 auto;
}

.pizza-container > .conteudo > .legendas .legenda {
    margin: 0.25rem;
    display: flex;
}

.pizza-container > .conteudo > .legendas .legenda .cor {
    flex: 0 0 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.pizza-container > .conteudo > .legendas .legenda .texto {
    flex: 1 0 auto;
    height: 1rem;
    font-size: 0.9rem;
    margin-right: 1rem;
}