* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

html, body {
    height: 100%;
}

.campo {
    display: flex;
    margin-bottom: 0.25rem;
}

.campo label {
    min-height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    font-size: 0.8rem;
    font-weight: bold;
}

.campo input[type=text] {
    outline: none;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}